@use 'sell-more';
@use 'stats';
@use 'cards';
@use 'pricing';
@use 'slider';
@use 'question';
@use 'scroll-top';

@media only screen and (min-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}