@use 'variables' as *;

.header {
    box-shadow: 0 0.19rem 0.38rem rgb(00, 00, 00, 0.29);
    width: 100%;
    height: 2.25rem;
    padding: 1.06rem 1.56rem;
    height: fit-content;
    position: relative;

    &__scrollbar {
        display: none;
        height: 0.19rem;
        width: 0%;
        background-color: #08A6E4;
        position: fixed;
        top: 0;
        left: 0;
    }

    &__title {
        display: inline-block;
        width: 80%;
        text-align: left;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.31rem;
        color: #08A6E4;
    }

    &__nav {
        display: inline-block;
        text-align: right;
        width: 18%;
        padding-right: 0.32rem;

        &__list {
            display: block;
            max-height: 0;
            overflow: hidden;

            transition: max-height 0.8s ease-in-out;
        }

        &__img {
            margin-bottom: 0.25rem;
        }
    }
}

.nav__list__item {
    display: flex;
    align-items: center;
    font-family: $open-sans;
    font-weight: 700;
    font-size: 0.69rem;
    letter-spacing: 0.2rem;
    line-height: 0.94rem;
    text-transform: uppercase;
    color: #A5A5A5;
    margin-bottom: 0.8rem;

    &:hover, &:active {
        color: black;
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        display: flex;
        align-items: stretch;
        justify-content: baseline;
        padding: 0 0;
        height: 4.38rem;

        &__title {
            width: auto;
            padding: 1.15rem 1.95rem;

            span {
                display: none;
            }

            &:after {
                width: 100%;
                content: 'OXYGEN Shop';
                display: inline-block;
                text-align: left;
                font-weight: 300;
                font-size: 2rem;
                line-height: 2.31rem;
                color: #08A6E4;
                padding-left: 55%;
            }

        }

        &__nav {
            display: none;

            &__list {
                max-height: 50vh;
                transition: none;
                width: 100%;                
                padding-left: 45%;
                padding-right: 8%;
                height: auto;
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                align-items: stretch;                
            }

            &--open {
                flex: 1 0 auto;
                padding: 0;
                height: auto;
                display: flex;
                align-items: stretch;
                justify-content: center;
            }
        }
    }

    .nav__list__item {

        margin-bottom: 0;

        &:hover, &:active {
            border-bottom: 0.25rem solid #08A6E4;
            padding-top: 0.25rem;
        }
    }
}