@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'offline_raleway_italic';
    src: url('./assets/fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'offline_raleway';
    src: url('./assets/fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'offline_open_sans_italic';
    src: url('./assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'offline_open_sans';
    src: url('./assets/fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 20rem;
    font-family: 'Raleway', 'offline_raleway', 'Roboto', sans-serif;
}