@use 'variables' as *;

.pricing {
    width: 100%;
    padding: 0 2.45rem;

    &__title {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 2.56rem;
        text-align: center;
        margin-bottom: 0.88rem;
        margin-top: 3.38rem;
    }

    &__card {
        font-family: $open-sans;
        height: 17.19rem;
        margin-bottom: 3.44rem;

        border: 0.06rem solid #000;
        border-radius: 1.13rem;

        position: relative;

        transition: transform 0.6s ease-in-out;

        &__price {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 55%;
        }

        &__perks {
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            margin-top: 1.56rem;
            font-size: 0.88rem;
            line-height: 1.19rem;
            padding-left: 1.15rem;
        }

        &__button {
            position: absolute;
            left: 28%;
            top: 15.56rem;
            background-color: #000;

            color: white;
            font-size: 0.81rem;
            line-height: 1.11rem;
            font-weight: 700;
            font-family: $open-sans;

            border: 0;
            padding: 1rem 3rem;
            border-radius: 1.44rem;
        }

        &__button--primary {
            background-color: #FB3B64;
        }
    
        &__button--secondary {
            background-color: #07ACE6;
        }
    
        &__button--tertiary {
            background-color: #55DFB4;
        }

        &:hover, &:active {
            transform: scale(1.1);
    
            .pricing__card__button--primary {
                box-shadow: 0.31rem 0.63rem 0.88rem rgb(251, 59, 100, 0.29);        
            }
        
            .pricing__card__button--secondary {
                box-shadow: 0.31rem 0.63rem 0.88rem rgb(7, 172, 230, 0.29);
            }
        
            .pricing__card__button--tertiary {
                box-shadow: 0.31rem 0.63rem 0.88rem rgb(85, 223, 180, 0.29);
            }
        }

        &--primary {
            border-color: #FB3B64;

            &:hover, &:active {
                box-shadow: 0.31rem 0.63rem 1.69rem rgb(251, 59, 100, 0.29); 
            }
        }

        &--secondary {
            border-color: #07ACE6;

            &:hover, &:active {
                box-shadow: 0.31rem 0.63rem 1.69rem rgb(7, 172, 230, 0.29);
            }
        }

        &--tertiary {
            border-color: #55DFB4;

            &:hover, &:active {
                box-shadow: 0.31rem 0.63rem 1.69rem rgb(85, 223, 180, 0.29);
            }
        }
    }
}

.price {

    &__caption {
        font-family: 'Raleway', 'offline_raleway', 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.50rem;
    }

    &__value {
        font-size: 2.88rem;
        font-weight: 300;
        line-height: 4rem;
    }

    &__value--primary {
        color: #FB3B64;
    }

    &__value--secondary {
        color: #07ACE6;
    }

    &__value--tertiary {
        color: #55DFB4;
    }

    &__offer {
        font-family: 'Raleway', 'offline_raleway', 'Roboto', sans-serif;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.88rem;
    }
}

.perks__list--positive {
    list-style: url('./assets/Checkbox.png');
    margin-bottom: 1.25rem;
}

.perks__list--negative {
    list-style: url('./assets/Cross.png');
    margin-bottom: 1.25rem;
}

@media only screen and (min-width: 1000px) {
    .pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            display: flex;
            justify-content: center;
            gap: 2.5rem;
            width: 100%;
            flex: 1 0 auto;
            max-width: 95ch;
        }

        &__card {
            width: 30%;
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__button {
                left: 28%;
            }

            &__price {
                margin-bottom: 3rem;

                &--offer {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
}