@use 'variables' as *;

.question {
    width: 100%;
    padding: 1.15rem 1.95rem;

    &__title {
        font-size: 2.45rem;
        font-weight: 400;
        line-height: 41px;
        margin-bottom: 0.2rem;
    }

    &__desc {
        font-size: 1rem;
        font-weight: 400;
        font-family: $open-sans;
        line-height: 22px;
        margin-bottom: 1.2rem;
    }

    &__mail, &__phone {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        font-size: 0.9rem;
        font-family: $open-sans;
        line-height: 22px;
        color: #A5A5A5;
        margin-bottom: 0.4rem;
    }

    &__mail img, &__phone img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.4rem;
    }

    &__label {
        display: block;
        text-transform: uppercase;
        font-family: $open-sans;
        color: #08A6E4;
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 14px;
        margin-top: 1.4rem;
        letter-spacing: 3px;
    }

    &__input {
        display: block;
        border: 0;
        border-bottom: 1px solid #95989A;
        width: 95%;
        margin-bottom: 0.4rem;
        padding: 0.4rem 0.2rem;
        font-size: 1.1rem;

        &:focus {
            border-color: #08A6E4;
            outline: none;
        }
    }

    &__button {
        display: block;
        margin-left: auto; 
        margin-right: 0;
        color: white;
        border: 0;
        background-color: #08A6E4;
        box-shadow: 5px 10px 14px rgb(7, 172, 230, 0.29);
        padding: 1rem 4.5rem;
        border-radius: 35px;

        font-family: $open-sans;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 17px;

        margin-top: 1.6rem;

        transition: transform 0.6s ease-in;

        &:hover, &:active {
            transform: scale(1.1);
        }
    }

    &__checkbox {
        
        margin-top: 0.8rem;

        &__label-text {
            display: inline-block;
            width: 80%;
            vertical-align: top;
            font-family: $open-sans;
            font-size: 0.7rem;
            line-height: 16px;
            font-weight: 400;
            color: #707070;
            padding-left: 0.4rem;
        }

        &__input {
            display: none;
        }

        &__input + label {
            display: inline-block;
            width: 3.5%;
            vertical-align: top;
            background-color: white;
            border: 1.5px solid #95989A;
            padding: 9px;
            border-radius: 5px;
            margin-top: 0.1rem;
            position: relative;
        }

        &__input:checked + label {
	        border: 1px solid #adb8c0;

            &:after {
                content: '';
                background: url('./assets/Checkmark.png') no-repeat;
                width: 11px;
                height: 12px;
                position: absolute;
                top: 3px;
                left: 4px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .question {
        max-width: 85ch;
        display: flex;

        &__checkbox {
            &__label-text {
                padding-right: 0;
            }
        }

        &__information {
            padding-top: 1.5rem;
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        &__form {
            width: 46%;
            display: flex;
            flex-direction: column;
        }
    }
}