@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "offline_raleway_italic";
  src: url("./assets/fonts/raleway-italic-variablefont_wght-webfont.woff2") format("woff2"), url("./assets/fonts/raleway-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "offline_raleway";
  src: url("./assets/fonts/raleway-variablefont_wght-webfont.woff2") format("woff2"), url("./assets/fonts/raleway-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "offline_open_sans_italic";
  src: url("./assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2") format("woff2"), url("./assets/fonts/opensans-italic-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "offline_open_sans";
  src: url("./assets/fonts/opensans-variablefont_wdthwght-webfont.woff2") format("woff2"), url("./assets/fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway", "offline_raleway", "Roboto", sans-serif;
}

.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  width: 100%;
  padding: 1.15rem 1.95rem;
  height: fit-content;
}
.header__title {
  display: inline-block;
  width: 80%;
  text-align: left;
  font-weight: 300;
  font-size: 2rem;
  line-height: 37px;
  color: #08A6E4;
}
.header__nav {
  display: inline-block;
  text-align: right;
  width: 18%;
  height: 100%;
}
.header__nav__list {
  display: none;
}
.header__nav__img {
  margin-bottom: 0.25rem;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    align-items: stretch;
    justify-content: baseline;
    padding: 0 0;
  }
  .header__title {
    width: auto;
    padding: 1.15rem 1.95rem;
  }
  .header__title span {
    display: none;
  }
  .header__title:after {
    width: 100%;
    content: "OXYGEN Shop";
    display: inline-block;
    text-align: left;
    font-weight: 300;
    font-size: 2rem;
    line-height: 37px;
    color: #08A6E4;
    padding-left: 15%;
  }
  .header__nav {
    flex: 1 0 auto;
    padding: 0;
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .header__nav img {
    display: none;
  }
  .header__nav__list {
    width: 100%;
    padding-left: 30%;
    padding-right: 8%;
    height: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: stretch;
  }
  .nav__list__item {
    display: flex;
    align-items: center;
    font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 3px;
    line-height: 15px;
    text-transform: uppercase;
    color: #A5A5A5;
  }
  .nav__list__item:hover, .nav__list__item:active {
    color: black;
    padding-top: 0.15rem;
    border-bottom: 0.35rem solid #08A6E4;
  }
}
.sell-more {
  margin-top: 2.45rem;
  width: 100%;
  padding: 1.15rem 1.95rem;
  background: url("./assets/background-s.png") no-repeat;
  background-position: center top 13.5rem;
  padding-bottom: 13.5rem;
}
.sell-more__title {
  font-size: 2.45rem;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
}
.sell-more__desc {
  font-size: 1rem;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
  padding: 1.15rem 1.5rem;
  margin-bottom: 0.8rem;
}
.sell-more__button {
  width: 100%;
  background-color: #08A6E4;
  color: white;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 22px;
  border: 0;
  border-radius: 1.8rem;
  padding: 1.1rem 1.1rem;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  transition: transform 0.4s ease-in;
}
.sell-more__button:hover, .sell-more__button:active {
  transform: scale(1.1);
}

@media only screen and (min-width: 1000px) {
  .sell-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    background: url("./assets/Background.png") no-repeat;
    background-position: center top 10.5rem;
    background-size: contain;
    padding-bottom: 30%;
  }
  .sell-more__button {
    max-width: 40ch;
    margin-bottom: 3.5rem;
  }
}
.stats {
  padding: 1.15rem 1.95rem;
}
.stats__title {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}
.stats__card {
  width: 100%;
  padding: 0.4rem 0;
  text-align: center;
  margin-top: 1.8rem;
}
.stats__card__image {
  position: relative;
}
.stats__card__amount {
  font-size: 1.35rem;
  line-height: 24px;
  font-weight: 800;
  padding-top: 0.65rem;
}
.stats__card__desc {
  color: #A5A5A5;
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 20px;
  padding-top: 0.8rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.floating-image {
  position: absolute;
  left: calc(45% + 1.1rem);
  top: 0.4rem;
}

.floating-image-eye {
  left: calc(45% + 0.6rem);
  top: 0.8rem;
}

@media only screen and (min-width: 1000px) {
  .stats {
    margin-top: 4rem;
  }
  .stats__container {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    padding-bottom: 6rem;
  }
}
.cards {
  background-color: #f7f7f7;
  width: 100%;
  padding: 1.15rem 1.95rem;
}
.cards__item {
  border: 1px solid #e8e9ed;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2.2rem;
  padding: 0.45rem 1.7rem;
  margin-top: 1.2rem;
}
.cards__item__image {
  width: 100%;
  text-align: center;
}
.cards__item__image--primary {
  background: url("./assets/Ellipse_red-2.png") no-repeat;
  background-position: right 11% bottom 75%;
  padding-top: 2.5rem;
}
.cards__item__image--secondary {
  background: url("./assets/Ellipse_blue-2.png") no-repeat;
  background-position: center;
  padding-top: 1.5rem;
}
.cards__item__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 35px;
  margin-top: 0.25rem;
  padding-right: 1.8rem;
}
.cards__item__desc {
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 19px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.cards__item__special {
  background-color: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.cards__item-special {
  padding: 0 0;
}
.cards__item-special__title, .cards__item-special__desc {
  padding: 1.15rem 1.7rem;
}
.cards__item-special__desc {
  font-size: 1.1rem;
  margin-top: 0;
}

.trumpet-fit {
  object-fit: none;
  height: 140px;
  width: 90%;
  object-position: -10px 10px;
}

@media only screen and (min-width: 1000px) {
  .cards {
    margin-top: 4rem;
  }
  .cards__item {
    display: flex;
  }
}
.pricing {
  width: 100%;
  padding: 1.15rem 2.95rem;
}
.pricing__title {
  font-size: 2.45rem;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
  margin-bottom: 2rem;
}
.pricing__card {
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  padding: 1.15rem 0.35rem;
  margin-bottom: 4rem;
  padding-bottom: 2.2rem;
  border: 1px solid #000;
  border-radius: 18px;
  position: relative;
  transition: transform 0.6s ease-in-out;
}
.pricing__card__price {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 55%;
}
.pricing__card__perks {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  font-size: 0.7rem;
  line-height: 19px;
  padding-left: 1.15rem;
}
.pricing__card__button {
  position: absolute;
  left: 32%;
  bottom: -1.4rem;
  background-color: #000;
  color: white;
  font-size: 0.65rem;
  line-height: 17px;
  font-weight: 700;
  border: 0;
  padding: 0.8rem 3rem;
  border-radius: 23px;
}
.pricing__card__button--primary {
  background-color: #FB3B64;
}
.pricing__card__button--secondary {
  background-color: #07ACE6;
}
.pricing__card__button--tertiary {
  background-color: #55DFB4;
}
.pricing__card:hover, .pricing__card:active {
  transform: scale(1.1);
}
.pricing__card:hover .pricing__card__button--primary, .pricing__card:active .pricing__card__button--primary {
  box-shadow: 5px 10px 14px rgba(251, 59, 100, 0.29);
}
.pricing__card:hover .pricing__card__button--secondary, .pricing__card:active .pricing__card__button--secondary {
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}
.pricing__card:hover .pricing__card__button--tertiary, .pricing__card:active .pricing__card__button--tertiary {
  box-shadow: 5px 10px 14px rgba(85, 223, 180, 0.29);
}
.pricing__card--primary {
  border-color: #FB3B64;
}
.pricing__card--primary:hover, .pricing__card--primary:active {
  box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.29);
}
.pricing__card--secondary {
  border-color: #07ACE6;
}
.pricing__card--secondary:hover, .pricing__card--secondary:active {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}
.pricing__card--tertiary {
  border-color: #55DFB4;
}
.pricing__card--tertiary:hover, .pricing__card--tertiary:active {
  box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.29);
}

.price__caption {
  font-family: "Raleway", "offline_raleway", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 24px;
}
.price__value {
  font-size: 3rem;
  font-weight: 300;
  line-height: 64px;
}
.price__value--primary {
  color: #FB3B64;
}
.price__value--secondary {
  color: #07ACE6;
}
.price__value--tertiary {
  color: #55DFB4;
}
.price__offer {
  font-family: "Raleway", "offline_raleway", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 14px;
}

.perks__list--positive {
  list-style: url("./assets/Checkbox.png");
}

.perks__list--negative {
  list-style: url("./assets/Cross.png");
}

.question {
  width: 100%;
  padding: 1.15rem 1.95rem;
}
.question__title {
  font-size: 2.45rem;
  font-weight: 400;
  line-height: 41px;
  margin-bottom: 0.2rem;
}
.question__desc {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  line-height: 22px;
  margin-bottom: 1.2rem;
}
.question__mail, .question__phone {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  line-height: 22px;
  color: #A5A5A5;
  margin-bottom: 0.4rem;
}
.question__mail img, .question__phone img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.question__label {
  display: block;
  text-transform: uppercase;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  color: #08A6E4;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 14px;
  margin-top: 1.4rem;
  letter-spacing: 3px;
}
.question__input {
  display: block;
  border: 0;
  border-bottom: 1px solid #95989A;
  width: 95%;
  margin-bottom: 0.4rem;
  padding: 0.4rem 0.2rem;
  font-size: 1.1rem;
}
.question__input:focus {
  border-color: #08A6E4;
  outline: none;
}
.question__button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  color: white;
  border: 0;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  padding: 1rem 4.5rem;
  border-radius: 35px;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 17px;
  margin-top: 1.6rem;
  transition: transform 0.6s ease-in;
}
.question__button:hover, .question__button:active {
  transform: scale(1.1);
}
.question__checkbox {
  margin-top: 0.8rem;
}
.question__checkbox__label-text {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  font-size: 0.7rem;
  line-height: 16px;
  font-weight: 400;
  color: #707070;
  padding-left: 0.4rem;
}
.question__checkbox__input {
  display: none;
}
.question__checkbox__input + label {
  display: inline-block;
  width: 3.5%;
  vertical-align: top;
  background-color: white;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 3px;
  margin-top: 0.1rem;
  position: relative;
}
.question__checkbox__input:checked + label {
  border: 1px solid #adb8c0;
}
.question__checkbox__input:checked + label:after {
  content: "";
  background: url("./assets/Checkmark.png") no-repeat;
  width: 11px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 4px;
}

.footer {
  background-color: #F7F7F7;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.2);
  padding: 1.15rem 1.95rem;
  margin-top: 1.4rem;
  width: 100%;
}
.footer__desc {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
}
.footer__desc__title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 30px;
  color: #08A6E4;
}
.footer__desc__caption {
  font-family: "Open Sans", "offline_open_sans", "Roboto", sans-serif;
  font-size: 0.7rem;
  line-height: 14px;
  font-weight: 400;
  color: #a5a5a5;
  margin-top: 0.2rem;
}
.footer__images {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 30%;
}
.footer__images img {
  margin: 0 0.2rem;
}

/*# sourceMappingURL=style.css.map */
